<nav>
    <div class="left">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/my-movies" routerLinkActive="active">My Movies</a>
    </div>
    <div class="right">
        <button *ngIf="!username" (click)="logIn()">Log in</button>
        <ng-container *ngIf="username">
            <button (click)="logOut()">Log out</button>
            <div class="profile" *ngIf="username">
                <span>{{username}}</span>
                <img [src]="profilePicUrl" alt="">
            </div>
        </ng-container>
    </div>
</nav>