<h1 class="page-title">Home page</h1>

<article>
    <h2>Angular SSR</h2>
    <p>
        A normal Angular application executes in the browser, rendering pages in the DOM in response to user actions.
        Angular Universal executes on the server, generating static application pages that later get bootstrapped on the
        client. This means that the application generally renders more quickly, giving users a chance to view the
        application layout before it becomes fully interactive.
    </p>
</article>

<hr>

<article>
    <h2>Users Available</h2>
    <span>This data is public and comes from the API</span>
    <h2 class="error" *ngIf="err">
        {{err}}
    </h2>    
    <ul *ngFor="let user of allUsers">
        <li>{{user.username}}  -  <code> {{user.password}} </code> </li>
    </ul>
</article>
