<h1 class="page-title">Home page</h1>

<article>
    <h2>Angular SSR</h2>
    <p>
        A normal Angular application executes in the browser, rendering pages in the DOM in response to user actions.
        Angular Universal executes on the server, generating static application pages that later get bootstrapped on the
        client. This means that the application generally renders more quickly, giving users a chance to view the
        application layout before it becomes fully interactive.
    </p>
</article>

<hr>

<article>
    <h2>Cats</h2>
    <h3>Relationship with Humans</h3>
    <p>
        Felis catus has had a very long relationship with humans. Ancient Egyptians may have first domesticated cats as
        early as 4,000 years ago. Plentiful rodents probably drew wild felines to human communities. The cats' skill in
        killing them may have first earned the affectionate attention of humans. Early Egyptians worshipped a cat
        goddess and even mummified their beloved pets for their journey to the next world—accompanied by mummified mice!
        Cultures around the world later adopted cats as their own companions.
    </p>
</article>