<form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
    <label>
        <p>Username</p>
        <input required formControlName="username" type="text">
    </label>

    <label>
        <p>Password</p>
        <input required formControlName="password" type="password">
    </label>

    <div class="actions">
        <button type="button" class="btn-secondary" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn-primary" [disabled]="!loginForm.valid" >Log In</button>
    </div>
</form>